# Pandas Review using a Pokemon Dataset

In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [2]:
import numpy as np

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [3]:
df.shape

(800, 13)

In [4]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
df.describe(include='all')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800.000000,800,800,414,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800
unique,NaN,800,18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Bulbasaur,Water,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,1,112,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735
mean,362.813750,NaN,NaN,NaN,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,NaN
std,208.343798,NaN,NaN,NaN,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,NaN
min,1.000000,NaN,NaN,NaN,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,NaN
25%,184.750000,NaN,NaN,NaN,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,NaN
50%,364.500000,NaN,NaN,NaN,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,NaN
75%,539.250000,NaN,NaN,NaN,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,NaN
max,721.000000,NaN,NaN,NaN,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,NaN

In [7]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [8]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [59]:
df.columns = pd.Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed', 'generation', 'legendary'])

In [60]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed', 'generation', 'legendary'],
      dtype='object')

#### 3. What is the highest HP value present?

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [11]:
df.sort_values(by='hp', ascending=False).head(5)
# Blissey has highest hp with 255

,#,name,type1,type2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

#### 5. How many different types are represented in Type 1? What are they?

In [12]:
df.type1.value_counts().size
# 18 different types

18

In [13]:
df.type1.value_counts()
# The 18 different data types

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type1, dtype: int64

#### 6. Number of Pokemon whose Type 2 is Ghost

In [14]:
df.type2.value_counts()
# 14

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: type2, dtype: int64

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [15]:
t2_ghost_percent = round((df.type2.value_counts()['Ghost'] / df.shape[0]) * 100, 2)
t2_ghost_percent

1.75

#### 8. Number of Pokemon whose Attack is greater than Defense

In [16]:
len(df[df.attack > df.defense])

433

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [29]:
t1_grass_df = df[df.type1 == 'Grass']
t2_grass_df = df[df.type2 == 'Grass']
t1_grass_df.shape
t2_grass_df.shape
grass_df = pd.concat([t1_grass_df, t2_grass_df], axis = 0)

In [40]:
grass_df.sort_values(by='speed').head(5)
# Ferroseed, speed 10

,#,name,type1,type2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
659,598,Ferrothorn,Grass,Steel,489,74,94,131,54,116,20,5,False
377,345,Lileep,Rock,Grass,355,66,41,77,61,87,23,3,False
51,46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False

#### 10. Find the average speed by Generation

In [41]:
df.groupby('generation').speed.mean()

generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

In [54]:
leg_dragon_df = df[((df.type1 == 'Dragon') | (df.type2 == 'Dragon')) & (df.legendary == True)]
leg_dragon_df

,#,name,type1,type2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [58]:
len(leg_dragon_df)

16